header
    padding-left: 45px
    padding-right: 45px
    width: 100%
    nav
        margin: 0 auto
        overflow: auto
        ul
            li


@media only screen and (max-width: 769px)
    header
        padding-left: 15px
        padding-right: 15px